.container {
  display: flex;
  padding: 1px;
}

/** LIGHTBOX MARKUP **/

.lightbox {
  /** Default lightbox to hidden */
  display: none;

  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

.lightbox-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.lightbox .lightbox-media {
  width: 90%;
  overflow: hidden;
  text-align: center;
  margin:auto;
}

.lightbox .lightbox-control {
  width: 100%;
  text-align: center;
  padding: 15px;
}

.lightbox img {
  width: 120vh;
}

.lightbox:target {
  /** Remove default browser outline */
  outline: none;
  /** Unhide lightbox **/
  display: block;
}

.btn-rotate-img {
  z-index: 99999;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}